/*Common styles*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  vertical-align: baseline;
  font-size: 100%;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #424242;
}
button {
  cursor: pointer;
}
html,
body,
main,
.login-page {
  height: 100%;
  width: 100%;
}

a {
  transition: 0.8s;
}

/*Styles for some elements*/
.home-page,
.report-page {
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
}
#addToHomeScreen {
  margin-top: 10px;
  background: none;
}
#backArrow {
  position: absolute;
  top: -2px;
  width: 15px;
  height: 15px;
  background: url("../images/app icons/back-arrow.svg") 0 0 no-repeat;
  cursor: pointer;
}
#addToHomeScreen:hover {
  color: #3f83b0;
}
.hidden {
  display: none !important;
}
.show,
.nav-menu__list-container.show {
  left: 0;
}
#clearSearchFormInput {
  position: absolute;
  right: 20px;
  top: 12px;
  width: 12px;
  height: 12px;
  background: url("../images/app icons/close.svg") 0 0 no-repeat;
  cursor: pointer;
}
.auto-list__search-icon {
  position: absolute;
  left: 15px;
  top: 11px;
  opacity: 0.7;
  width: 15px;
  height: 15px;
  background: url("../images/app icons/search.svg") 0 0 no-repeat;
}
#carStatistics {
  position: absolute;
  right: 11px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: url("../images/app icons/list.svg") 0 0 no-repeat;
  cursor: pointer;
}
.tinting {
  position: absolute;
  z-index: 2000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/*Login page*/

.login-page {
  display: grid;
  align-content: center;
  justify-items: center;
}
.login-logo {
  width: 200px;
}
.login-form {
  display: grid;
  grid-template-areas: ".";
  grid-row-gap: 15px;
  margin-top: 25px;
}
.login-form__input {
  padding: 0 0 15px 15px;
  border-bottom: 1px solid lightgrey;
  width: 250px;
}
.login-form__input:focus {
  border-color: red;
  border-width: 2px;
  height: 32px;
}
.login-form__input:valid {
  border-color: limegreen;
  border-width: 2px;
  height: 32px;
}
.login-form__input:valid + .login-form__label {
  opacity: 0;
}
.login-form__input-container,
.login-form__password-container,
.auto-list__form-input__container {
  position: relative;
}
.login-form__label {
  position: absolute;
  top: 0;
  left: 15px;
  color: gray;
}
.login-form__password-control {
  position: absolute;
  right: 10px;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("../images/app icons/no-view.svg") 0 0 no-repeat;
  cursor: pointer;
}
.login-form__password-control.view {
  background: url("../images/app icons/view.svg") 0 0 no-repeat;
  cursor: pointer;
}
.login-form__button {
  margin-top: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #3f83b0;
  border-radius: 3px;
  height: 35px;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.login-form__button:active,
.report-date__form-button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: linear-gradient(top, hsl(218, 43%, 71%), hsl(203, 42%, 57%) 90%);
  background: -webkit-linear-gradient(
    top,
    hsl(218, 43%, 71%),
    hsl(203, 42%, 57%) 90%
  ); /* Изменяем значения линейного градиента */
}

/*Home page*/

/*Navigation styles*/

.nav-menu {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 100fr;
  background-color: #3f83b0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 2000;
  grid-column-gap: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.nav-menu__text {
  color: white;
  font-weight: bold;
}
.nav-menu__toggle {
  position: relative;
  width: 17px;
  height: 12px;
  cursor: pointer;
}
.nav-menu__toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
}
.nav-menu__toggle span:nth-child(2) {
  top: 5px;
}
.nav-menu__toggle span:nth-child(3) {
  top: 10px;
}
.nav-menu__list-container {
  position: fixed;
  top: 0;
  z-index: 3000;
  background: white;
  width: 250px;
  height: 100%;
  transition: left ease 0.2s;
  left: -350px;
}
.nav-menu__list-text {
  background-color: #3f83b0;
  padding: 15px;
  color: white;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.nav-menu__list {
  margin-top: 10px;
}
.nav-menu__item {
  position: relative;
  padding: 10px 0 10px 50px;
  cursor: pointer;
}
.nav-menu__item-icon {
  position: absolute;
  left: 13px;
  top: 7px;
  width: 20px;
  height: 20px;
  background: url("../images/app icons/home-run.svg") 0 0 no-repeat;
}
#logoutButton .nav-menu__item-icon {
  background: url("../images/app icons/logout.svg") 0 0 no-repeat;
  left: 16px;
}

/*Auto list section*/

.auto-list__container,
.report-list__container {
  padding: 10px;
}
.auto-list__search-form,
.report-date__form {
  padding-top: 48px;
}
.auto-list__form-input {
  padding: 10px 50px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.auto-list__form-label {
  position: absolute;
  top: 9px;
  left: 50px;
  color: gray;
}
.auto-list {
  margin-top: 10px;
}
.auto-list__item {
  position: relative;
  padding-right: 50px;
  border-bottom: 1px solid lightgray;
}
.auto-address {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.auto-list__item-container {
  padding: 10px 0;
}
.auto-list__item-container:active {
  background: linear-gradient(top, hsl(218, 43%, 71%), hsl(203, 42%, 57%) 90%);
  background: -webkit-linear-gradient(
    top,
    hsla(204, 47%, 47%, 0.11),
    hsl(0, 0%, 100%) 90%
  );
}

/*Report page*/
.report-page {
  background: #ececec;
}
.report-date__form {
  background-color: orange;
  display: grid;
  padding-bottom: 10px;
}
.report-date__form-input {
  background: white;
  width: 100%;
  text-align: start;
  font-weight: bold;
  padding: 30px 10px 10px 10px;
}
.report-date__form-input__container {
  position: relative;
}
.report-date__form .report-list__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.report-date__form-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: gray;
}
.report-date__form-button {
  background: #3f83b0;
  color: white;
  font-size: 18px;
  padding: 15px;
  width: calc(100% - 20px);
  border-radius: 4px;
  justify-self: center;
}
.report-list .report-list__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 20px;
}
.report-list__item {
  position: relative;
  border: 1px solid #d0caca;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: white;
  border-radius: 3px;
}
.report-list__item-date {
  position: absolute;
  top: -21px;
  color: #403d3d;
  font-size: 13px;
}
.report-list__item p {
  padding: 3px 10px;
}
.report-list__item-distance {
  border-left: 1px solid #d0caca;
}

/*Tracking page*/
.tracking-page {
  height: 100vh;
}
.tracking-map {
  height: 50%;
  width: 100%;
}
.gmnoprint,
.gm-fullscreen-control {
  display: none;
}
.tracking-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.tracking-menu__item {
  border-bottom: 2px solid transparent;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
}
.tracking-menu__item-container,
.tracking-date__form-input__container {
  position: relative;
  display: inline-block;
}
.tracking-menu__text {
  margin-left: 10px;
}
#trackingInfo .tracking-menu__icon,
#trackingHistory .tracking-menu__icon,
#trackingTasks .tracking-menu__icon {
  position: absolute;
  left: -15px;
  width: 20px;
  height: 20px;
  background: url("../images/app icons/car.svg") 0 0 no-repeat;
}
#trackingTasks .tracking-menu__icon {
  background: url("../images/app icons/list.svg") 0 0 no-repeat;
}
#trackingHistory .tracking-menu__icon {
  background: url("../images/app icons/clock.svg") 0 0 no-repeat;
}
.tracking-section {
  display: none;
}
.active {
  color: #3f83b0;
  border-color: #3f83b0;
}
.active-section {
  display: block;
}
.tracking-sections {
  overflow: auto;
  height: calc(50% - 50px);
}
.tracking-info_auto {
  padding: 10px;
}
.tracking-info_list-item {
  padding: 10px 0;
  border-top: 1px solid lightgray;
  display: grid;
  grid-template-areas: ". .";
  justify-content: space-between;
}
.tracking-info_list-item p {
  padding: 0 10px;
}
.tracking-item__value {
  color: #3f83b0;
}
.tracking-date__form-input {
  background: transparent;
}
.tracking-date__form {
  padding: 5px 0;
  border-bottom: 1px solid lightgray;
  text-align: center;
}
.tracking-date__form-icon {
  position: absolute;
  top: 1px;
  left: -20px;
  width: 15px;
  height: 15px;
  background: url("../images/app icons/calendar.svg") 0 0 no-repeat;
}
.tracking-history__data-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-column-gap: 1px;
}
.tracking-history__data-item {
  position: relative;
  background: #003eff;
  color: white;
  padding: 8px 0;
}
#moveTime .tracking-history__data-icon,
#traveledDistance .tracking-history__data-icon,
#parkingTime .tracking-history__data-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/app icons/delivery.svg") 0 0 no-repeat;
}
#traveledDistance .tracking-history__data-icon {
  background: url("../images/app icons/road.svg") 0 0 no-repeat;
}
#parkingTime .tracking-history__data-icon {
  background: url("../images/app icons/parking.svg") 0 0 no-repeat;
}
.tracking-history__data-text {
  margin-left: 20px;
}
#traveledDistance .tracking-history__data-text {
  margin-left: 10px;
}
.tracking-history__action-container {
  position: relative;
}
.tracking-history__action-item {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  padding: 10px;
}
.tracking-history__action-list #moveTime {
  background: #d3fbd3;
}
.tracking-history__action-delivery {
  display: grid;
  grid-template-areas: ". .";
  justify-content: space-between;
}
.action-icon {
  top: -9px;
}
